*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --LightText : white;
    --DarkText : black; 
    --DarkBG : #232529; 
    --LightkBG : #7e86b4;; 
    --sec : rgb(186, 179, 179);; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7e86b4;
    overflow-x: hidden;
}

ul,ol,li{
    list-style: none;
}

.wrapper{
    width: 100vw;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header{
    width: 80%;
    max-height: 30vh;
}

.title{
    width: 100%;
    margin: 1rem auto;
    font-size: 1.8rem;
    text-align: center;
}

.main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-description{
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.level{
    max-width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.btn{
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    transition: all linear 0.3s;
}

.input-bombs{
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
}

.input-bombs::placeholder{
    text-align: center;
    color: #ccc;
    font-weight: 900;
}

.btn:active {
    transform: scale(0.9);
}

.field{
    display: grid;
    gap: 1px;
    border: 2px solid black;
    padding: 1rem;
    background-color: #2b2424;
}

.field-small {
    grid-template-columns: repeat(10, 3rem);
}

.field-mid {
    grid-template-columns: repeat(15, 2rem);
}

.field-big {
    grid-template-columns: repeat(25, 1.5rem);
}

.bomb{
    opacity: 1;
    color: aqua;
}

.cell-1{
    color: blue;
}

.cell-2{
    color: green;
}

.cell-3{
    color: red;
}

.cell-4{
    color: orange;
}

.cell-mark{
    border: 2px solid red;
    color: red;
    font-weight: 900;
}

.cell-small {
    height: 3rem;
    font-size: 1.5rem;
}

.cell-mid {
    height: 2rem;
    font-size: 1rem;
}

.cell-big {
    height: 1.5rem;
    font-size: 1rem;
}

.footer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-buttons{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text{
    font-size: 1.5rem;
}

.theme{
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: fixed;
    top: 5%;
    right: 5%;
}

.theme img{
    width: 100%;
    height: 100%;
}

.text_light {
    color: var(--LightText);
}

.text_dark {
    color: var(--DarkText);
}

.bg_light{
    background-color: #EFEFEF;
}

.bg_light:hover{
    background-color: white;
}

.bg_dark{
    background-color: rgb(33, 31, 31);
}

.bg_dark:hover{
    background-color: black;
}

.modal{
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    transform: translate(-50%, -50%);
    height: 130px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    text-align: center;
    font-size: 2rem;
    z-index: 20;
}

.modal_bad{
    border: 5px solid red;
    color: red;
    border-radius: 40px;
}

.modal_good{
    border: 25x solid green;
    color: green;
    border-radius: 40px;
}

.results{
    width: 65%;
    margin: 0 auto;
    padding: 1rem;
    transform: translate(-50%, -50%);
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #ccc;
    font-size: 1.2rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 5px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
}

.results-visible{
    opacity: 1;
    visibility: visible; 
}

@media screen and (max-width:767px) {
    .field-big {
        grid-template-columns: repeat(25, 1rem);
    }
    .cell-big {
        height: 1rem;
        font-size: 1rem;
    }
    .field-mid {
        grid-template-columns: repeat(15, 1.5rem);
    }
    .cell-mid {
        height: 1.5rem;
        font-size: 0.5rem;
    }
    .field-small {
        grid-template-columns: repeat(10, 2rem);
    }
    .cell-small {
        height: 2rem;
        font-size: 0.5rem;
    }
    .footer-text{
        font-size: 1rem;
    }
    .btn{
        width: 100px;
        height: 30px;
        border-radius: 5px;
    }
}